{% extends 'base.html'%}

{% block content %}
<div class="container">
  <div class="row" style="padding-top:4%;">
    <div class="card" style="width: 18rem;">
      {% if user.profile_pic_path %}
      <img class="card-img-top" style="width:200px ; height:200px;" src="{{url_for('static',filename=user.profile_pic_path)}}" alt="Card image cap">
      {%else%}
      <p style="color:#F6B400 ;">No profile picture</p>
      {% endif %}
      <div class="card-body">
        <h5 class="card-title" style="color:#F6B400 ; font-weight: bolder;">{{user.username | capitalize}}</h5>
        {% if user.bio %}
        <p class="card-text" style="color:#F6B400 ; font-weight: bolder;"><i class="fas fa-quote-left"></i>{{user.bio}}</p>
        {%else%}
        <p class="card-text" style="color: #F6B400; font-weight:bolder"> {{user.username| capitalize}} has no bio</p>
        {% endif %}
        {% if user == current_user %}
        <div class="profile">
          <div class="main">
            <button class="btn btn-sm btn-info" id="btn"><a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a></button>
            <button class="btn btn-sm btn-info" id="btn">upload image</button>

          </div>
          <div class="image">
            <form  action="{{url_for('main.upload_image',uname=user.username)}}" method="post" enctype = "multipart/form-data">

              <input type="file"  name="photo" class="form-control" required>
              <input type="submit" class="btn btn-sm btn-info" style="font-weight: bolder;"id="btn">
            </form>
          </div>

        </div>
         
        {% endif %}
        
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
  <div class=" text-center well well-lg" id="user">
    {% if current_user %}
        <h3>You have {{user.pitches.count()}} Pitches</h3>
        <hr>
        {%for p in posts%}
        <h5>Title: {{p.title}}</h5>

        <p>{{p.post}}</p>
        <p>{{p.comment.count()}} Comments</p>
        <hr>
        {%endfor%}
        {%else%}
        <h3>You have ) posts</h3>
        {%endif%}
    </div>
  
</div>

</div>
{% endblock %}

