{% extends 'base.html'%}
{% import 'macros.html' as macro %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
{% endblock %}

<title>{{ title }}</title>

{% block content%}
<div class="row">
    <div class="col-md-1"></div>
<div class="col-md-5" style="text-align: center;">
    <div class="well well-lg">
        <h3>Business Pitches</h3>
        <hr>
        <p>Make it short. · Make it clear. · Explain who your customers are. · Explain the problem
            they're facing. </p>
        
        <br>
        <a href="{{url_for('main.business_pitches')}}" class="btn btn-info -center" style="margin-top: 2%;">Click to view</a>
    </div>
</div>
<div class="col-md-5" style="text-align: center;">
    <div class="well well-lg">
        <h3>Idea Pitches</h3>
        <hr>
        <p>Make it short. · Make it clear. · Explain who your customers are. · Explain the problem
            they're facing. </p>
        
       
        <br>
        <a href="{{url_for('main.idea_pitches')}}" class="btn btn-info -center" style="margin-top: 2%;">Click to view</a>
    </div>
</div>
<div class="col-md-1"></div>
</div>
</div>
<div class="row">
    <div class="col-md-1"></div>
<div class="col-md-5" style="text-align: center;">
    <div class="well well-lg">
        <h3>Pickup Lines Pitches</h3>
        <hr>
        <p>Make it short. · Make it clear. · Explain who your customers are. · Explain the problem
            they're facing. </p>
        
        <br>
        <a href="{{url_for('main.pickuplines_pitches')}}" class="btn btn-info -center" style="margin-top:2% ;">Click to view</a>
    </div>
</div>
<div class="col-md-5" style="text-align: center;">
    <div class="well well-lg">
        <h3>Music Pitches</h3>
        <hr>
        <p>Make it short. · Make it clear. · Explain who your customers are. · Explain the problem
            they're facing. </p>
        <button><a href=""><i class="fa fa-thumbs-up" style="font-size:18px;color: green"></i></a></button>
        <button><a href=""><i class="fa fa-thumbs-down" style="font-size:18px;color: red"></i></a></button>
        <br>
        <a href="{{url_for('main.music_pitches')}}" class="btn btn-info -center" style="margin-top:2% ;">Click to view</a>
    </div>
</div>
<div class="col-md-1"></div>
</div>
</div>
{% endblock %}


