{% extends 'base.html'%}

{% import 'macros.html' as macro %}

<title>{{ title }}</title>

{% block content%}
<div class="row">
    <div class="col-md-1"></div>
<div class="col-md-5" style="text-align: center;">
    <div class="well well-lg">
        <h3>Business Pitches</h3>
        <hr>
        <p>Make it short. · Make it clear. · Explain who your customers are. · Explain the problem
            they're facing. </p>
        <a href="{{url_for('main.business_pitches')}}" class="btn btn-info -center">Click to view</a>
       
    </div>

    
</div>

<div class="col-md-5" style="text-align: center;">
    <div class="well well-lg">
        <h3>Idea Pitches</h3>
        <hr>
        <p>Make it short. · Make it clear. · Explain who your customers are. · Explain the problem
            they're facing. </p>
        <a href="{{url_for('main.business_pitches')}}" class="btn btn-info -center">Click to view</a>
       
    </div>
</div>
<div class="col-md-1"></div>
</div>

</div>
<div class="row">
    <div class="col-md-1"></div>
<div class="col-md-5" style="text-align: center;">
    <div class="well well-lg">
        <h3>Pickup Lines Pitches</h3>
        <hr>
        <p>Make it short. · Make it clear. · Explain who your customers are. · Explain the problem
            they're facing. </p>
        <a href="{{url_for('main.business_pitches')}}" class="btn btn-info -center">Click to view</a>
       
    </div>

    
</div>

<div class="col-md-5" style="text-align: center;">
    <div class="well well-lg">
        <h3>Music Pitches</h3>
        <hr>
        <p>Make it short. · Make it clear. · Explain who your customers are. · Explain the problem
            they're facing. </p>
            
        <span class="foot" ><a href="{{url_for('main.like',id = category.id)}}"><i class="fa fa-thumbs-up" style="font-size:18px;color: green"></i></a> {{category.upvote.count()}}</span>
        <span class="foot" ><a href="{{url_for('main.like',id = category.id)}}"><i class="fa fa-thumbs-up" style="font-size:18px;color: green"></i></a> {{category.upvote.count()}}</span>

        <a href="{{url_for('main.business_pitches')}}" class="btn btn-info -center">Click to view</a>
       
    </div>
</div>
<div class="col-md-1"></div>
</div>
</div>

{% endblock %}
